div {
	text-align:center; /** permet de centrer le texte horizontalement dans chacun des cadres div */
	}

div#bandeau {
	width:100%; /* largeur du cadre, peut être définie en % ou en pixel*/
	height:100px; /* hauteur du cadre*/
	background-color:#00CCFF;
	line-height:100px; /* inter-ligne */
	}
div#menu {
	float:left; /* permet d'afficher deux cadres côte à côte, ici menu est à gauche de contenu*/
	width:20%;
	height:400px;
	background-color:#FF6699;
	line-height:400px; /* inter-ligne */
	}
div#contenu {
	width:80%;
	height:400px;
	background-color:#FFCC00;
	float:left;
	line-height:400px; /* inter-ligne */
	}
div#piedpage {
	width:100%;
	height:100px;
	background-color:#33FF99;
	line-height:100px; /* inter-ligne */
	clear:both; /* permet d'annuler l'effet float des cadres précédents
	}
